%h1 Listing fibs

%table
  %thead
    %tr
      %th Belong to
      %th
      %th
      %th

  %tbody
    - @fibs.each do |fib|
      %tr
        %td= fib.belong_to
        %td= link_to 'Show', fib
        %td= link_to 'Edit', edit_fib_path(fib)
        %td= link_to 'Destroy', fib, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Fib', new_fib_path
