!!! 5
%html(lang="en")
  %head
    %meta(charset="utf-8")
    %meta(http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")

    %title= @logotype_name
    = stylesheet_link_tag "application"
    = favicon_link_tag 'favicon.ico', :rel => 'shortcut icon'



  %body
    - if @current_user
      #wrapper
        %nav.navbar.navbar-default.navbar-static-top.light-blue{:role=>'navigation'}
          .container
            .navbar-header
              %a.btn.btn-navbar{:class=>'navbar-toggle', :type=>'button', 'data-target'=>".nav-collapse", 'data-toggle'=>"collapse"}
                %span.icon-bar
                %span.icon-bar
                %span.icon-bar
          %a{:class=>'navbar-brand', :href=>"#"} Контингент
          %ul{:class=>'nav navbar-top-links navbar-right menu-flex'}
            %li{:class => 'dropdown'}
              %a{:class=>'dropdown-toggle', :href=>'#'}
                %i{:class=>' glyphicon glyphicon-menu-down'}
                %i= @current_user.getActiveRole.role_title

              %ul{:class=>'dropdown-menu sys-dropdown-roles'}
                - @current_user.getDeactiveRoles.each do |deactive_role|
                  %li
                    %a{:value=>deactive_role.id}
                      %i= deactive_role.role_title


            %li{:class => 'dropdown'}
              %a{:class=>'dropdown-toggle', :href=>'#'}
                %i{:class=>'fa fa-user fa-fw'}
                %i= @current_user.login
              %ul{:class=>'dropdown-menu dropdown-user'}
                %li
                  %a{:href=>"#"}
                    %i{:class=>'fa fa-gear fa-fw'}
                    %i= 'Настройки'
                %li
                  %a{:href=>"/logout"}
                    %i{:class=>'a fa-sign-out fa-fw'}
                    %i= 'Выход'

          .navbar-default.sidebar
            .sidebar-nav.collapse.navbar-collapse
              %ul.nav.navbar-nav{:id=>"side-menu" }
                %li{:class => ''}
                  %a{:href=>"#"}
                    %i{:class=>"fa fa-binoculars fa-fw"}
                    %strong= "Поиск"
                    %ul{:class=>'nav nav-second-level collapse'}
                      %li
                        %a{:href=>"/search"}
                          %i{:class=>'glyphicon glyphicon-search'}
                          %i= 'Расширенный поиск'

                  %li{:class => ''}
                    %a{:href=>"#"}
                      %i{:class=>"fa fa-group fa-fw"}
                      %strong= "Студенты"
                      %ul{:class=>'nav nav-second-level collapse'}
                        %li
                          %a{:href=>"/students/new"}
                            %i{:class=>'glyphicon glyphicon-plus'}
                              %i= 'Добавить студента'
                - if @current_user.check_permission(1)
                  %li{:class => ''}
                    %a{:href=>'#'}
                      %i{:class=>"glyphicon glyphicon-share-alt"}
                      %strong= "Направления/Специальности"
                      %ul{:class=>'nav nav-second-level collapse'}
                        %li
                          %a{:href=>"/plans"}
                            %i{:class=>'glyphicon glyphicon-folder-open'}
                              %i= 'Учебные планы'
                        %li
                          %a{:href=>"/specialities"}
                            %i{:class=>'glyphicon glyphicon-list-alt'}
                              %i= 'Специальности'
                - if @current_user.check_permission(2)
                  %li
                    %a{:href=>"/groups"}
                      %i{:class=>"fa fa-list fa-fw"}
                      %strong= 'Группы/Подразделения'
                - if @current_user.check_permission(3)
                  %li
                    %a{:href=>"/terms"}
                      %i{:class=>"glyphicon glyphicon-time"}
                      %strong= 'Учебные промежутки'
                - if @current_user.check_permission(4)
                  %li
                    %a{:href=>'#'}
                      %i{:class=>"glyphicon glyphicon-user"}
                      %strong= "Пользователи системы"




        #page-wraper
          .col-lg-12
            .row
              .col-md-12
                = yield
    -else
      .col-lg-12
        .row
          .col-md-12
            = yield

    = javascript_include_tag 'application'
