= form_for @subdivision do |f|
  - if @subdivision.errors.any?
    #error_explanation
      %h2= "#{pluralize(@subdivision.errors.count, "error")} prohibited this subdivision from being saved:"
      %ul
        - @subdivision.errors.full_messages.each do |msg|
          %li= msg

  .form-group
    = f.label 'Название кафедры'
    = f.text_field :chairisting, :class=>'form-control'
  .form-group
    = f.label 'Название университета'
    = f.text_field :institution, :class=>'form-control'
  .actions
    = f.submit 'Сохранить', :class=>'btn btn-default btn-primary'
