%p#notice= notice

%table.table.table-bordered
  %thead
    %tr
      %th Кафедра
      %th Институт
      %th Группы

  %tbody
    %tr
      %td= @subdivision.chairisting
      %td= @subdivision.institution
      %td
        %ul
        - @subdivision.groups.each do |group|
          %li= group.name



= link_to 'Редактировать', edit_subdivision_path(@subdivision)
\|
= link_to 'Назад', groups_path
