%p#notice= notice

%p
  %b Type num:
  = @subdivision.type_num
%p
  %b Type title:
  = @subdivision.type_title

= link_to 'Edit', edit_subdivision_path(@subdivision)
\|
= link_to 'Back', subdivisions_path
