<p id="notice"><%= notice %></p>

<p>
  <strong>Ducket date:</strong>
  <%= @student.ducket_date %>
</p>

<p>
  <strong>Ducket number:</strong>
  <%= @student.ducket_number %>
</p>

<%= link_to 'Edit', edit_student_path(@student) %> |
<%= link_to 'Back', students_path %>
