.row
  .col-lg-12
    - if notice != nil
      .alert.alert-success
        %p{id:"notice"}= notice

.row
  .col-lg-12
    .panel.panel-default
      .panel-heading
        = "Общая (на "
        %strong{:class=>'sys-date-actual'}= @date_actual.to_date
        = ") информация"
      .panel-body
        .row
          .col-md-12
            .col-md-4.img-photo
              %a{href: @student.person.photos.last.photo.url, :class=>'fancybox'}
                = image_tag @student.person.photos.last.photo.url(:medium)
              .div{:class=>"block-edit-btn"}
                %a.btn.btn-primary.btn-edit-student{:href=>"#{@student.id}/edit"} Редактировать
            %p
            .col-md-8
              %table{:class=>"table", name:'sys-student-info-1'}
                %tbody
                  %tr
                    %td Имя:
                    %td= @student.person.passports.last.first_name
                  %tr
                    %td Фамилия:
                    %td= @student.person.passports.last.second_name
                  %tr
                    %td Отчество:
                    %td= @student.person.passports.last.last_name
                  %tr
                    %td Дата рождения:
                    %td= @student.person.passports.last.birthday.to_date
                  %tr
                    %td Место рождения:
                    %td= @student.person.passports.last.birth_city
                  %tr
                    %td Пол:
                    %td= @student.person.passports.last.sex == 'm' ? "Мужской" : "Женский"
                  %tr
                    %td Номер студенчиского:
                    %td= @student.ducket_number

                  %tr
                    %td Группа
                    %td= @student.student_periods[-1].group.name
                  %tr
                    %td Подразделение:
                    %td= @student.student_periods[-1].group.subdivisions[0].institution
                  %tr
                    %td Специальность:
                    %td= @student.student_periods[-1].plan.speciality.name
                  %tr
                    %td Направление:
                    %td= @student.student_periods[-1].plan.specialization
                  - t = @student.student_periods[-1].term
                  %tr
                    %td Учебный семестр
                    %td=  "#{get_name_by_month(t.start_term.month)}/#{get_name_by_month(t.end_term.month)}"
                  - t = @student.student_periods[-1].term.year
                  %tr
                    %td Учебный год
                    %td=  "#{t.start_year.year}/#{t.end_year.year}"


                  %tr
                    %td Когда выдан:
                    %td= @student.ducket_date.to_date
                  %tr
                  %tr
                    %td Серия паспорта:
                    %td= @student.person.passports.last.series
                  %tr
                    %td Номер паспорта:
                    %td= @student.person.passports.last.number
                  %tr
                    %td Кем выдан:
                    %td= @student.person.passports.last.passport_issued
                  %tr
                    %td Код подразделения:
                    %td= @student.person.passports.last.code_subdivision
                  %tr
                    %td Дата выдачи:
                    %td= @student.person.passports.last.date_extradition.to_date
        .row
          .col-md-12
            %table{:class=>"table", name:'sys-student-info-2'}
              %tbody
                %tr
                  %td Место прописки:
                  %td= @p_address.address
                %tr
                  %td Место регистрации:
                  %td=  @r_address.address
                %tr
                  %td Место проживания (фактическое):
                  %td=  @f_address.address
        - if @log_change.size > 0
          .row
            .col-md-3
            .col-md-6
              .date-actual-history
                .line-history{:student_id => @student.id}
                  - count_changes = @log_change.size
                  - margin_left = 0
                  - chank_margin = 100.0/(count_changes - 1)
                  - @log_change.reverse.each do |change|
                    .element-line-history{:style=>"margin-left:#{margin_left}%;", "data-title"=>"#{change[-1]}"}
                    - margin_left += chank_margin
            .col-md-3
      .clearfix
.row
  .col-md-12
    .panel.panel-success
      .panel-heading
        %i= "История изменений с момента создания до текушей даты актуализации (#{@log_change.size})"
      .panel-body
        - if @log_change.size == 0
          Список пуст
        - else
          %table{:class=>"table"}
            %thead
              %tr{:style=>'font-weight: bold;'}
                %td Изменен
                %td Что было изменено
                %td Дата изменения
            %tbody
              - @log_change.each  do |arr|
                %tr
                  %td= arr[0]
                  %td
                    - for i in 1...arr.size - 1
                      = arr[i][0]+ ':'
                      = ' c ' + arr[i][1].to_s
                      = ' на ' + arr[i][2].to_s
                      %p
                    %td= arr[-1].to_date
