.row
  .col-lg-12
    %h1{:class=>'page-header'} Поиск студентов
.row
  .col-lg-12
    .panel.panel-default
      .panel-heading
        Аттрибуты для поиска
      .panel-body
        %form{:action=>'/result'}
          .row
            .col-md-12
              .pull-right
                %button{:class=>'btn btn-primary'} найти
                %a{:href=>'#', :class=>'btn btn-default btn-grey'} Сбросить
          .row
            .col-md-4
              .form-group
                %label Имя
                %input{:class=>'form-control', :name=>'first_name', :placeholder=>'Введите имя студента'}
            .col-md-4
              .form-group
                %label Фамилия
                %input{:class=>'form-control', :name=>'second_name', :placeholder=>'Введите фамилию студента'}
            .col-md-4
              .form-group
                %label Отчество
                %input{:class=>'form-control', :name=>'last_name', :placeholder=>'Введите отчество студента'}
          .row
            .col-md-4
              .form-group
                %label Дата рождения
                %input{:class=>'form-control datepicker', :name=>'birthday', :placeholder=>'Введите дату рождения'}
            .col-md-2
              .form-group
                %label Паспортные данные
                %input{:class=>'form-control', :name=>'passport_series', :placeholder=>'Серия'}
            .col-md-2
              .form-group
                %label{:style=>'height: 12px;'}
                %input{:class=>'form-control', :name=>'passport_number', :placeholder=>'Номер'}

            .col-md-4
              .form-group
                %label Пол
                = select_tag :sex, options_for_select([['Не выбрано', 0],%w(Мужской m),%w(Женский w)]), class: 'form-control'
          .row
            .col-md-4
              .form-group
                %label Номер студенческого
                %input{:class=>'form-control', :name=>'ducket_number', :placeholder=>'Введите номер студенческого'}
            .col-md-4
              .form-group
                %label Специальность
                = select_tag :speciality, options_for_select(get_options_speciality), class: 'form-control'
            .col-md-4
              .form-group
                %label Направление
                = select_tag :plan, options_for_select([['Ничего не выбрано', 0]]), class: 'form-control'

          .row
            .col-md-2
              .form-group
                %label Подразделение
                = select_tag :subdivision, options_for_select(get_options_subdivisions), class: 'form-control'

            .col-md-2
              .form-group
                %label Группа
                = select_tag :group, options_for_select(get_options_groups), class: 'form-control'
            .col-md-4
              .form-group
                %label Тип обучения
                = select_tag :form_study, options_for_select(get_options_form_study), class: 'form-control'
            .col-md-2
              .form-group
                %label Учебный год
                = select_tag :year, options_for_select(get_options_years), class: 'form-control'
            .col-md-2
              .form-group
                %label Учебное полугодие
                = select_tag :term, options_for_select([['Не выбрано', 0]]), class: 'form-control'

        .clearfix
