%h1 Список учебных периодов

%table.table.table-bordered
  %thead
    %tr
      %th Учебный год
      %th Начало
      %th Окончание
      %th
      %th

  -# по хорошему надо бы вписать осень зима весна,
  %tbody
    - @terms.each do |term|
      %tr
        %td= term.year.start_year.year.to_s + "/" + term.year.end_year.year.to_s
        %td= term.start_term
        %td= term.end_term
        %td= link_to 'Редактировать', edit_term_path(term)
        %td= link_to 'Удалить', term, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br







.row
  .col-md-10
    .col-md-4
      = link_to 'Создать', new_term_path, :class=>'btn btn-primary'
    .col-md-6
      =paginate @terms