%p#notice= notice

%table.table.table-bordered
  %thead
    %tr
      %th Учебный год
      %th Начало
      %th Окончание

  %tbody
    %tr
      %td= @term.year.start_year.year.to_s + "/" + @term.year.end_year.year.to_s
      %td= @term.start_term
      %td= @term.end_term


= link_to 'Редактировать', edit_term_path(@term)
\|
= link_to 'Назад', terms_path
