= form_for @plan do |f|
  - if @plan.errors.any?
    #error_explanation
      %h2= "#{pluralize(@plan.errors.count, "error")} prohibited this plan from being saved:"
      %ul
        - @plan.errors.full_messages.each do |msg|
          %li= msg

  .row
    .col-lg-12
      .panel.panel-default
        .panel-heading
          Заполните поля
        .panel-body
          %table.table.table-bordered
            .row
              .col-md-12
                .col-md-6
                  .form-group
                    = f.label 'Специальность'
                    = select_tag :speciality_id,  options_for_select(getSpecialities()), :class=>'form-control', :name=>'plan[speciality_id]'
                .col-md-6
                  .form-group
                    = f.label 'Название специальности'
                    = f.text_field :specialization, :class=>'form-control'
            .row
              .col-md-12
                .col-md-12
                  .form-group
                    = f.label 'Длительность обучения'
                    = f.text_field :count_month, :type=>'number', :class=>'form-control'
            .row
              .col-md-12
                .col-md-12
                  .form-group
                    = f.label 'Заметка'
                    = f.text_area :note, :class=>'form-control'
            .row
              .col-md-12
                .col-md-12
                  .actions
                    = f.submit 'Сохранить', :class=> 'btn btn-primary'
