.row
  .col-lg-12
    %h1{:class=>"page-header"} Списки планов обучения

%table.table.table-bordered
  %thead
    %tr
      %th Специальность
      %th Период курсов
      %th Описание
      %th
      %th
      %th

  %tbody
    - @plans.each do |plan|
      %tr
        %td= plan.speciality.name
        %td= plan.specialization
        %td= plan.note
        %td= link_to 'Просмотреть', plan
        %td= link_to 'Редактировать', edit_plan_path(plan)
        %td= link_to 'Удалить', plan, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'Создать', new_plan_path, :class=>'btn btn-primary'

= paginate @plans