<%= form_for(@role_user) do |f| %>
  <% if @role_user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@role_user.errors.count, "error") %> prohibited this role_user from being saved:</h2>

      <ul>
      <% @role_user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :role %><br>
    <%= f.text_field :role %>
  </div>
  <div class="field">
    <%= f.label :user %><br>
    <%= f.text_field :user %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
