= form_for @speciality do |f|
  - if @speciality.errors.any?
    #error_explanation
      %h2= "#{pluralize(@speciality.errors.count, "error")} prohibited this speciality from being saved:"
      %ul
        - @speciality.errors.full_messages.each do |msg|
          %li= msg


  .row
    .col-lg-12
      .panel.panel-default
        .panel-heading
          Заполите поля
        .panel-body
          .row
            .col-md-12
              .col-md-4
                .form-group
                  = f.label 'Номер специальности'
                  = f.number_field :number, :class=>'form-control'
              .col-md-4
                .form-group
                  = f.label 'Название'
                  = f.text_field :name, :class=>'form-control'
              .col-md-4
                .form-group
                  = f.label 'Форма обучения'
                  = select_tag :form_study_id, options_for_select(getFormStudy, @speciality.try(:form_study_id)), :name=>'speciality[form_study_id]', :class=>'form-control'
          .row
            .col-md-12
              .col-md-12
                .actions
                  = f.submit 'Сохранить', :class=>'btn btn-primary'
