.row
  .col-lg-12
    %h1{:class=>"page-header"} Списки планов обучения

%table.table.table-bordered
  %thead
    %tr
      %th Номер
      %th Название
      %th Форма обучения
      %th
      %th

  %tbody
    - @specialities.each do |speciality|
      %tr
        %td= speciality.number
        %td= speciality.name
        %td= speciality.form_study.name
        %td= link_to 'Редактировать', edit_speciality_path(speciality)
        %td= link_to 'Удалить', speciality, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br



= link_to 'Добавить', new_speciality_path, :class=>'btn btn-primary'
