
.row
  .col-md-12
    - if notice
      .alert.alert-success{:style=>'margin-right: 30px;'}
        %p#notice= notice

.row
  .col-lg-12
    .panel.panel-default
      .panel-heading
        Информация о специальности
      .panel-body
        .row
          .col-md-12
            .col-md-4
              %label Номер
              = @speciality.number
            .col-md-4
              %label Название
              = @speciality.name
            .col-md-4
              %label Форма обучения
              = @speciality.form_study.name

= link_to 'Редактировать', edit_speciality_path(@speciality)
\|
= link_to 'Назад', specialities_path
