
.row
  .col-lg-12
    .panel.panel-default
      .panel-heading
        Списки групп на 
        -#%strong{:class=>'sys-date-actual'}= @date_actual.to_date
        -#= ") информация"
      .panel-body
        %table.table.table-bordered
          %thead
            %tr
              %th Подразделение
              %th Название
              %th
              %th
              %th
          %tbody
            - @groups.each do |group|
              %tr
                %td
                  %ul
                    - group.subdivisions.each do |subdivision|
                      %li
                        %a{:href=>"/subdivisions/#{subdivision.id}"}= "#{subdivision.chairisting}(#{subdivision.institution})"
                %td= group.name
                %td= link_to 'Просмотреть', group
                %td= link_to 'Редактировать', edit_group_path(group)
                %td= link_to 'Удалить', group, :method => :delete, :data => { :confirm => 'Вы уверены?' }


.row
  .col-md-10
    .col-md-4
      = link_to 'Добавить', new_group_path, :class => 'btn btn-primary'
    .col-md-6
      =paginate @groups
